@using Microsoft.AspNetCore.Http
<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>LTLHelp - Charity & LTLHelpion HTML Template - Home One</title>
    <meta name="author" content="LTLHelp">
    <meta name="description" content="LTLHelp - Charity & LTLHelpion HTML Template">
    <meta name="keywords" content="LTLHelp - Charity & LTLHelpion HTML Template">
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
      Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!--==============================
        All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Swiper Js -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--********************************
        Code Start From Here
    ******************************** -->
    <!--==============================
       Preloader
    ==============================-->
    <div class="preloader ">
        <button class="th-btn style2 preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <span class="loader">
                LTLHelp
                <span class="loading-text">LTLHelp</span>
            </span>
        </div>
    </div>
    <!--==============================
        Sidemenu
    ============================== -->
    <div class="sidemenu-wrapper sidemenu-cart ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">Giỏ quyên góp</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="index.html#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="index.html#"><img src="~/assets/img/product/product_thumb_1_1.png" alt="Cart Image">Sách</a>
                            <span class="quantity">
                                1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>940.00
                                </span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="index.html#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="index.html#"><img src="~/assets/img/product/product_thumb_1_2.png" alt="Cart Image">Thuốc</a>
                            <span class="quantity">
                                1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>899.00
                                </span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="index.html#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="index.html#"><img src="~/assets/img/product/product_thumb_1_3.png" alt="Cart Image">Quần áo</a>
                            <span class="quantity">
                                1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>756.00
                                </span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="index.html#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="index.html#"><img src="~/assets/img/product/product_thumb_1_4.png" alt="Cart Image">Ghế</a>
                            <span class="quantity">
                                1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>723.00
                                </span>
                            </span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="index.html#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="index.html#"><img src="~/assets/img/product/product_thumb_1_5.png" alt="Cart Image">Vải</a>
                            <span class="quantity">
                                1 ×
                                <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">$</span>1080.00
                                </span>
                            </span>
                        </li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total">
                        <strong>Tổng cộng:</strong>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>4398.00
                        </span>
                    </p>
                    <p class="woocommerce-mini-cart__buttons buttons">
                        <a href="@Url.Action("Checkout", "Donation")" class="th-btn wc-forward">Xem giỏ</a>
                        <a href="@Url.Action("Checkout", "Donation")" class="th-btn checkout wc-forward">Thanh toán</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="far fa-times"></i></button>
        <form action="index.html#">
            <input type="text" placeholder="Bạn đang tìm kiếm gì?">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
      Mobile Menu
    ============================== -->
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo.svg" alt="LTLHelp"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "Campaign")">Chiến dịch</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Index", "Campaign")">Danh sách chiến dịch</a></li>
                            <li><a href="@Url.Action("Progress", "Campaign")">Tiến độ chiến dịch</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Donor")">Nhà tài trợ hàng đầu</a></li>
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "Blog")">Tin tức</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Index", "Blog")">Danh sách tin tức</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="@Url.Action("Index", "Volunteer")">Tình nguyện viên</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Index", "Volunteer")">Danh sách tình nguyện viên</a></li>
                            <li><a href="@Url.Action("Apply", "Volunteer")">Đăng ký tình nguyện viên</a></li>
                            <li><a href="@Url.Action("Index", "Testimonial")">Đánh giá</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Tài khoản</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Login", "Account")">Đăng nhập</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Đăng ký</a></li>
                            <li><a href="@Url.Action("MyAccount", "Account")">Tài khoản của tôi</a></li>
                            <li><a href="@Url.Action("History", "Donation")">Lịch sử quyên góp</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Checkout", "Donation")">Quyên góp ngay</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="color-scheme-wrap active">
        <button class="switchIcon"><i class="fa-solid fa-palette"></i></button>
        <h3 class="color-scheme-wrap-title text-center">Color Switcher</h3>
        <h4 class="color-scheme-wrap-subtitle text-center">Theme Color</h4>
        <div class="color-switch-btns">
            <button data-color="#1A685B"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#f34e3a"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#FF4857"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#3843C1"><i class="fa-solid fa-droplet"></i></button>
            <button data-color="#FF7E02"><i class="fa-solid fa-droplet"></i></button>
        </div>
        <h4 class="color-scheme-wrap-subtitle mt-20 text-center">Secondary Color</h4>
        <div class="secondary-color-switch-btns">
            <button data-secondary-color="#FFAC00"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#F41E1E"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#f34e3a"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#FF4857"><i class="fa-solid fa-droplet"></i></button>
            <button data-secondary-color="#3843C1"><i class="fa-solid fa-droplet"></i></button>
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    <header class="th-header header-default">
        <div class="menu-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-logo">
                            <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo.svg" alt="LTLHelp"></a>
                        </div>
                    </div>
                    <div class="col-auto d-none d-md-block">
                        <div class="info-card-wrap">
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                    <div class="bg-shape1" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Địa chỉ:</p>
                                    <h4 class="box-title"><a href="https://www.google.com/maps">Đại Học Vinh, Nghệ An</a></h4>
                                </div>
                            </div>
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-phone"></i>
                                    <div class="bg-shape1" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Gọi cho chúng tôi bất cứ lúc nào:</p>
                                    <h4 class="box-title"><a href="tel:16336547896">+163-3654-7896</a></h4>
                                </div>
                            </div>
                            <div class="info-card">
                                <div class="box-icon">
                                    <i class="fal fa-envelope-open"></i>
                                    <div class="bg-shape1" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    <div class="bg-shape2" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                </div>
                                <div class="box-content">
                                    <p class="box-text">Gửi email cho chúng tôi bất cứ lúc nào:</p>
                                    <h4 class="box-title"><a href="mailto:info@ltlhelp.com">info@ltlhelp.com</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto header-social-col">
                        <div class="th-social">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="container">
                <div class="menu-area">
                    <div class="menu-area-wrap">
                        <div class="col-auto d-inline-block d-lg-none">
                            <div class="header-logo">
                                <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo-white.svg" alt="LTLHelp"></a>
                            </div>
                        </div>
                        <nav class="main-menu d-none d-lg-block">
                            <ul style="white-space: nowrap; flex-wrap: nowrap;">
                                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li class="menu-item-has-children">
                                    <a href="@Url.Action("Index", "Campaign")">Chiến dịch</a>
                                    <ul class="sub-menu">
                                        <li><a href="@Url.Action("Index", "Campaign")">Danh sách</a></li>
                                        <li><a href="@Url.Action("Progress", "Campaign")">Tiến độ</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Donor")">Tài trợ</a></li>
                                <li><a href="@Url.Action("Index", "Blog")">Tin tức</a></li>
                                <li class="menu-item-has-children">
                                    <a href="@Url.Action("Index", "Volunteer")">Tình nguyện</a>
                                    <ul class="sub-menu">
                                        <li><a href="@Url.Action("Index", "Volunteer")">Danh sách</a></li>
                                        <li><a href="@Url.Action("Apply", "Volunteer")">Đăng ký</a></li>
                                        <li><a href="@Url.Action("Index", "Testimonial")">Đánh giá</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>
                            </ul>
                                                    
                        </nav>
                        <style>
                            .main-menu ul {
                                display: flex !important;
                                flex-wrap: nowrap !important;
                                white-space: nowrap !important;
                            }
                            .main-menu ul li {
                                white-space: nowrap !important;
                                flex-shrink: 0 !important;
                            }
                            .main-menu ul li a {
                                white-space: nowrap !important;
                                padding: 10px 15px !important;
                                font-size: 14px !important;
                            }
                        </style>
                        <p class="header-notice"><img class="me-1" src="~/assets/img/icon/heart-icon.svg" alt="img">Bạn đã sẵn sàng giúp đỡ họ chưa? Hãy trở thành tình nguyện viên...</p>
                    </div>
                    <div class="header-button">
                        <button type="button" class="icon-btn style2 searchBoxToggler d-lg-block d-none"><i class="far fa-search"></i></button>
                        <div class="dropdown d-lg-inline-block d-none">
                            <button class="th-btn style2 dropdown-toggle" type="button" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i> Tài khoản
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
                                @{
                                    var userId = Context.Session.GetInt32("UserId");
                                    var isLoggedIn = userId.HasValue;
                                }
                                @if (isLoggedIn)
                                {
                                    <li><a class="dropdown-item" href="@Url.Action("MyAccount", "Account")"><i class="fas fa-user-circle me-2"></i> Tài khoản của tôi</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("History", "Donation")"><i class="fas fa-history me-2"></i> Lịch sử quyên góp</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")"><i class="fas fa-sign-out-alt me-2"></i> Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt me-2"></i> Đăng nhập</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Register", "Account")"><i class="fas fa-user-plus me-2"></i> Đăng ký</a></li>
                                }
                            </ul>
                        </div>
                        <a href="@Url.Action("Checkout", "Donation")" class="th-btn style3 d-lg-block d-none"><i class="fas fa-heart me-2"></i> Quyên góp ngay</a>
                        <button type="button" class="icon-btn th-menu-toggle d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!--==============================
    Hero Area
    ==============================-->
    @RenderBody()
    <!--==============================
        Footer Area
    ==============================-->
    <footer class="footer-wrapper footer-default" data-bg-src="~/assets/img/bg/footer-default-bg-mask.png">
        <div class="footer-bg-shape2 shape-mockup jump" data-top="20%" data-right="0">
            <img src="~/assets/img/shape/footer-bg-shape3.png" alt="img">
        </div>
        <div class="footer-bg-shape3 shape-mockup d-none" data-bottom="0" data-right="0">
            <img src="~/assets/img/shape/footer-bg-shape2.png" alt="img">
        </div>
        <div class="footer-top">
            <div class="container">
                <div class="subscribe-box">
                    <div class="row gy-40 align-items-center justify-content-center">
                        <div class="col-xl-6">
                            <h4 class="subscribe-box_title">Đăng ký nhận bản tin</h4>
                            <p class="subscribe-box_text">Kiểm tra định kỳ và cơ chế phản hồi</p>
                        </div>
                        <div class="col-xl-6 col-lg-8">
                            <form class="newsletter-form">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Nhập địa chỉ email" required="">
                                </div>
                                <button type="submit" class="th-btn style3"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo">
                                    <a href="@Url.Action("Index", "Home")"><img src="~/assets/img/logo-white.svg" alt="LTLHelp"></a>
                                </div>
                                <p class="about-text"> Nền tảng quyên góp trực tuyến an toàn của chúng tôi cho phép bạn đóng góp nhanh chóng và an toàn. Chọn từ nhiều phương thức thanh toán.</p>
                                <a href="@Url.Action("Checkout", "Donation")" class="th-btn"><i class="fas fa-heart me-2"></i> Quyên góp ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Liên kết nhanh</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="@Url.Action("About", "Home")">Về chúng tôi</a></li>
                                    <li><a href="@Url.Action("Index", "Blog")">Tin tức của chúng tôi</a></li>
                                    <li><a href="@Url.Action("Index", "Campaign")">Chiến dịch của chúng tôi</a></li>
                                    <li><a href="@Url.Action("Index", "Contact")">Chính sách bảo mật</a></li>
                                    <li><a href="@Url.Action("Index", "Contact")">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Dịch vụ của chúng tôi</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="@Url.Action("Checkout", "Donation")">Quyên góp</a></li>
                                    <li><a href="@Url.Action("Index", "Campaign")">Hỗ trợ giáo dục</a></li>
                                    <li><a href="@Url.Action("Index", "Campaign")">Hỗ trợ lương thực</a></li>
                                    <li><a href="@Url.Action("Index", "Campaign")">Hỗ trợ y tế</a></li>
                                    <li><a href="@Url.Action("Index", "Campaign")">Chiến dịch của chúng tôi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <div class="th-widget-contact">
                                <h3 class="widget_title">Liên hệ chúng tôi</h3>
                                <div class="info-card">
                                    <div class="box-icon">
                                        <i class="fal fa-phone"></i>
                                        <div class="bg-shape1" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                        <div class="bg-shape2" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">Gọi cho chúng tôi bất cứ lúc nào:</p>
                                        <h4 class="box-title"><a href="tel:16336547896">+163-3654-7896</a></h4>
                                    </div>
                                </div>
                                <div class="info-card">
                                    <div class="box-icon">
                                        <i class="fal fa-envelope-open"></i>
                                        <div class="bg-shape1" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                        <div class="bg-shape2" data-mask-src="~/assets/img/shape/info_card_icon_bg_shape_1_1.png"></div>
                                    </div>
                                    <div class="box-content">
                                        <p class="box-text">Gửi email cho chúng tôi bất cứ lúc nào:</p>
                                        <h4 class="box-title"><a href="mailto:info@ltlhelp.com">info@ltlhelp.com</a></h4>
                                    </div>
                                </div>
                                <div class="th-social style2">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row justify-content-center gy-3 align-items-center">
                    <div class="col-lg-12">
                        <p class="copyright-text text-center">
                            <i class="fal fa-copyright"></i> Bản quyền 2025 <a href="@Url.Action("Index", "Home")">LTLHelp</a>. Bảo lưu mọi quyền.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--********************************
            Code End  Here
    ******************************** -->
    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src="~/assets/js/vendor/jquery-3.7.1.min.js"></script>
    <!-- Swiper Js -->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Range Slider -->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <!-- Isotope Filter -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>

    <!-- Main Js File -->
    <script src="~/assets/js/main.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>

</html>